# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build-Output (Dist Ordner)
dist/

# Environment Files
.env
.env.local
.env.production
.env.development
.env


# VSCode Settings
.vscode/

# Systemdateien
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage / Test Outputs
coverage/

# Build Cache (Vite/Webpack etc.)
.cache/
.cache-loader/
